@{
    ViewBag.Title = "财务档案信息管理";
    Layout = "../Shared/Navigation.cshtml";
}
@Scripts.Render("~/bundles/faegmgmtjs")
<div id="faDocMgmtErrorContainer" class="error" ></div>
<div class="headings">
    财务档案信息
</div>
<div class="content_box box_content">
    <input type="hidden" id="faArchiveId" value="@ViewData["faArchiveId"]"/>
    <table style="width: 100%;">
        <tr class="border_b_1_da">
            <td>
                存储内容:
            </td>
            <td>
                <input type="text" id="content" name="content" value="@ViewData["content"]" class="text_input"  maxlength="100" readonly="readonly" />
            </td>
            <td>
                公司:
            </td>
            <td>
                <input type="hidden" id="companyDto" name="companyDto" value="@ViewData["companyDto"]"/>
                <input type="hidden" id="companyName" name="companyName" value="@ViewData["companyName"]"/>
                <select  id="company" style="width: 192px;">
                </select>
            </td>
            <td>
                年份:
            </td>
            <td>
                <input type="text" id="year" name="year" value="@ViewData["year"]" class="text_input"  maxlength="100" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px;">
                月份:
            </td>
            <td style="width: 280px;">
                <input type="text" id="month" name="month" value="@ViewData["month"]" class="text_input"  maxlength="100" />
            </td>
            <td style="width: 80px;">
                凭证字:
            </td>
            <td style="width: 280px;">
                <input type="text" id="voucherWord" name="voucherWord" value="@ViewData["voucherWord"]" class="text_input"  maxlength="100" />
            </td>
            <td style="width: 80px;">
                凭证号:
            </td>
            <td>
                <input type="text"  id="voucherNumber" name="voucherNumber" value="@ViewData["voucherNumber"]" class="text_input" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px;">
                凭证券号:
            </td>
            <td style="width: 280px;">
                <input type="text" id="voucherNo" name="voucherNo" value="@ViewData["voucherNo"]" class="text_input"  maxlength="100" />
            </td>
            <td style="width: 80px;">
                存储位置:
            </td>
            <td style="width: 280px;">
                <input type="text" id="path" name="path" value="@ViewData["path"]" class="text_input"  maxlength="100" />
            </td>
            <td style="width: 80px;">
                存储柜号:
            </td>
            <td>
                <input type="text"  id="cabinetNo" name="cabinetNo" value="@ViewData["cabinetNo"]" class="text_input" />
            </td>
        </tr>
    </table>
    <div class="margin-t10">
        <div class="left" style="width: 450px;">&nbsp;&nbsp;</div>
        <div>
            <a id="saveButton" class="button01">
                <span class="l"></span>
                <span class="m">保存</span>
                <span class="r"></span>
            </a>
            <a id="returnButton" class="button01" href="FaDocList">
                <span class="l"></span>
                <span class="m">返回</span>
                <span class="r"></span>
            </a>
        </div>
    </div>
</div>