@{
    ViewBag.Title = "归还时间修改";
    Layout = "../Shared/Navigation.cshtml";
}
@Scripts.Render("~/bundles/fareturndocmgmtjs")
<div id="faReturnDocMgmtErrorContainer" class="error" ></div>
<div class="headings">
    财务档案信息
</div>
<div class="content_box box_content">
    <input type="hidden" id="faJieyueId" value="@ViewData["faJieyueId"]"/>
    <table style="width: 100%;">
        <tr class="border_b_1_da">
            <td>
                存储内容:
            </td>
            <td>
                <input type="text" id="content" name="content" value="@ViewData["content"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
            <td>
                公司:
            </td>
            <td>
                <input type="text" id="company" name="company" value="@ViewData["company"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
            <td>
                年份:
            </td>
            <td>
                <input type="text" id="year" name="year" value="@ViewData["year"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
        </tr>
        <tr>
            <td style="width: 80px;">
                月份:
            </td>
            <td style="width: 280px;">
                <input type="text" id="month" name="month" value="@ViewData["month"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
            <td style="width: 80px;">
                凭证字:
            </td>
            <td style="width: 280px;">
                <input type="text" id="voucherWord" name="voucherWord" value="@ViewData["voucherWord"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
            <td style="width: 80px;">
                凭证号:
            </td>
            <td>
                <input type="text"  id="voucherNumber" name="voucherNumber" value="@ViewData["voucherNumber"]" class="text_input" disabled="disabled"/>
            </td>
        </tr>
        <tr>
            <td style="width: 80px;">
                凭证券号:
            </td>
            <td style="width: 280px;">
                <input type="text" id="voucherNo" name="voucherNo" value="@ViewData["voucherNo"]" class="text_input"  maxlength="100"disabled="disabled" />
            </td>
            <td style="width: 80px;">
                存储位置:
            </td>
            <td style="width: 280px;">
                <input type="text" id="path" name="path" value="@ViewData["path"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
            <td style="width: 80px;">
                存储柜号:
            </td>
            <td>
                <input type="text"  id="cabinetNo" name="cabinetNo" value="@ViewData["cabinetNo"]" class="text_input" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px;">
                借阅天数:
            </td>
            <td style="width: 280px;">
                <input type="text" id="jieyueTianshu" name="jieyueTianshu" value="@ViewData["jieyueTianshu"]" class="text_input"  maxlength="100"disabled="disabled" />
            </td>
            <td style="width: 80px;">
                借阅时间:
            </td>
            <td style="width: 280px;">
                <input type="text" id="jieyueShijian" name="jieyueShijian" value="@ViewData["jieyueShijian"]" class="text_input"  maxlength="100" disabled="disabled"/>
            </td>
            <td style="width: 80px;">
                归还时间:
            </td>
            <td>
                <input type="text"  id="guihuanShijian" name="guihuanShijian" value="@ViewData["guihuanShijian"]" class="text_input" />
            </td>
        </tr>
    </table>
    <div class="margin-t10">
        <div class="left" style="width: 450px;">&nbsp;&nbsp;</div>
        <div>
            <a id="saveButton" class="button01">
                <span class="l"></span>
                <span class="m">保存</span>
                <span class="r"></span>
            </a>
            <a id="returnButton" class="button01" href="FaReturnDocList">
                <span class="l"></span>
                <span class="m">返回</span>
                <span class="r"></span>
            </a>
        </div>
    </div>
</div>